<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>

  <title>
    ジャスフォ・助ける人
  </title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.0/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.3.0/dist/leaflet.js"></script>
  <script src='/js/leaflet.sprite.js'></script>
  <script src='/js/helpusermap.js'></script>
  <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
  <link href="bootstrap/form-validation.css" rel="stylesheet">
  <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
  <link href="bootstrap/css" rel="stylesheet">
  <link href="bootstrap/pricing.css" rel="stylesheet">
  <link href="bootstrap/example.css" rel="stylesheet">
</head>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <!-- <h5 class="my-0 mr-md-auto font-weight-normal">Company name</h5> -->
  <h5 class="my-0 mr-md-auto font-weight-normal" href="/"><a href="/" class="text-reset"></a>ジャスフォ</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <!-- <a class="p-2 text-dark" href="#">Features</a> -->
    <a class="p-2 text-success" href="/signin">signin</a>
    <!-- <a class="p-2 text-dark" href="#">Enterprise</a> -->
    <a class="p-2 text-danger" href="/logout">logout</a>

    <!-- <a class="btn btn-outline-primary" href="#">Sign up</a> -->
    <a class="p-2 text" href="/signup">signup</a>
  </nav>
</div>

<body onload="init()">
  <button onclick="tweet()">Tweet</button>
  <div id="map" class="d-block mx-auto img-fluid w-75" style="width:em;height:30em"></div>

  <div class="py-5 text-center">
    <div class="center-block">
      <div class="rounded border">ピンの色<br>力仕事ー赤 軽作業ー緑 物探しー黄色 道案内ーピンク その他ー紫</div>
    </div>
    <hr class="mb-4">

    <table class="table table-striped table table-bordered ">
      <thead>
        <tr>
          <th colspan="2">あなたが向かっている困りごと</th>
        </tr>
      </thead>
      <% for(let help of helps.rows){ if(help.completed==0&&help.canceled==0){ %>
        <tbody>
          <th class="text-center header">
            <%= help.content %>
          </th>
          <th>
            <form action="/cancelform" method="POST">
              <input type="hidden" value="<%= help.helpid %>" id="helpid" name="helpid">
              <input type="hidden" value="<%= help.task_id %>" id="taskid" name="taskid">
              <button type="submit" id="passwd1" class="btn btn-outline-danger">キャンセル</button>
            </form>
          </th>
        </tbody>
        <% }}%>
    </table>

    <table class="table table-striped table table-bordered">
      <tr>
        <th colspan="3">あなたが今までにした困りごと</th>
      </tr>
      <tr>
        <th>
          募集日時
        </th>
        <th>
          内容
        </th>
        <th>
          お礼の一言
        </th>
      </tr>
      <% for(let help of helps.rows){ if(help.completed==1&&help.canceled==0){ %>
        <tbody>
          <th class="text-center header">
            <%= help.needts %>
          </th>
          <th class="text-center header">
            <%= help.content %>
          </th>
          <th class="text-center header">
            <%= help.message %>
          </th>
        </tbody>
        <% }}%>
    </table>
  </div>


  <input type="hidden" id="helps" value=<%=JSON.stringify(helps) %>>
  <input type="hidden" name="example" id="tasks" value=<%=JSON.stringify(tasks) %>>
  <form name="helpform" action="/helpform" method="post">
    <input type="hidden" id="taskid" name="taskid" />
  </form>
  <ul>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"></script>
    <button type="hidden" id="address"></button>
</body>


<script src="./bootstrap/holder.min.js.ダウンロード"></script>
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    'use strict';

    window.addEventListener('load', function () {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');

      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
</script>

<script>
  let helps_data = document.getElementById("helps").value;
</script>

<script src="./bootstrap/jquery-3.3.1.slim.min.js.ダウンロード"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>
  window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')
</script>
<script src="./bootstrap/bootstrap.bundle.min.js.ダウンロード"></script>
<script src="./bootstrap/anchor.min.js.ダウンロード"></script>
<script src="./bootstrap/clipboard.min.js.ダウンロード"></script>
<script src="./bootstrap/bs-custom-file-input.min.js.ダウンロード"></script>
<script src="./bootstrap/application.js.ダウンロード"></script>
<script src="./bootstrap/search.js.ダウンロード"></script>
<script src="./bootstrap/ie-emulation-modes-warning.js.ダウンロード"></script>

<script src="./bootstrap/jquery-3.4.1.slim.min.js.ダウンロード"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script>
  window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery-slim.min.js"><\/script>')
</script>
<script src="./bootstrap/bootstrap.bundle.min.js.ダウンロード"></script>
<script src="./bootstrap/anchor.min.js.ダウンロード"></script>
<script src="./bootstrap/clipboard.min.js.ダウンロード"></script>
<script src="./bootstrap/bs-custom-file-input.min.js.ダウンロード"></script>
<script src="./bootstrap/application.js.ダウンロード"></script>
<script src="./bootstrap/search.js.ダウンロード"></script>
<script src="./bootstrap/ie-emulation-modes-warning.js.ダウンロード"></script>
<script src="https://maps.gsi.go.jp/js/muni.js"></script>

</html>